BOOKING_API_BASE_URL=https://restful-booker.herokuapp.com
USERS_API_BASE_URL=https://jsonplaceholder.typicode.com
BOOKING_API_USERNAME=admin
BOOKING_API_PASSWORD=password123
REQUEST_TIMEOUT_SECONDS=15
